*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  margin: 10px;
  background-color: #333;
  color: #f1f1f1;
  border: 2px solid #f1f1f1;
  cursor: pointer;
}

button:hover {
  background-color: #f1f1f1;
  border-color: #333;
  color: #333;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 20px;
}

header #toolbox {
  color: #78c091;
}

header li {
  list-style: none;
}

header .menu {
  text-decoration: none;
}

header .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .social-media img {
  width: 50px;
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #78c091) saturate(400%);
          filter: opacity(0.5) drop-shadow(0 0 0 #78c091) saturate(400%);
}

.color-flipper {
  background-color: #fff;
  width: 300px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 100px;
  border: 2px solid #333;
}

.color-flipper div {
  background-color: #333;
  color: #f1f1f1;
  width: 50%;
  padding: 5px;
  border-radius: 5px;
}

.counter {
  background-color: #fff;
  width: 300px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 100px;
  border: 2px solid #333;
}

.counter #count {
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: black;
}

.review-carousel {
  background-color: #fff;
  width: 300px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px;
  border: 2px solid #333;
  padding: 50px;
}

.review-carousel h2 {
  margin: 20px;
}

.review-carousel h3 {
  margin: 10px;
  color: #333;
}

.review-carousel span {
  color: aqua;
}

.review-carousel p {
  margin: 20px;
}

.review-carousel .selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.review-carousel .selector .arrow {
  height: 0px;
  width: 0px;
  cursor: pointer;
}

.review-carousel .selector .arrow__left {
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 20px solid #8de698;
}

.review-carousel .selector .arrow__right {
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 20px solid #e888a3;
}
/*# sourceMappingURL=index.css.map */