*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    margin: 10px;
    background-color: #333;
    color: #f1f1f1;
    border: 2px solid #f1f1f1;
    cursor: pointer;
    &:hover{
        background-color: #f1f1f1;
        border-color: #333;
        color: #333;
    }
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
}
.color-flipper{
    background-color: #fff;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px;
    border: 2px solid #333;
    div{
        background-color: #333;
        color:#f1f1f1;
        width: 50%;
        padding: 5px;
        border-radius: 5px;
    }
}
.counter{
    background-color: #fff;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px;
    border: 2px solid #333;
    #count{
        font-size: 80px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
        color: black;
    }
}
.review-carousel{
    background-color: #fff;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 100px;
    border: 2px solid #333;
    padding: 50px;
    h2{
        margin: 20px;
    }
    h3{
        margin: 10px;
        color: #333;
    }
    span{
        color: aqua;
    }
    p{
        margin: 20px;
    }
    .selector{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .arrow{
            height: 0px;
            width: 0px;
            cursor: pointer;
            &__left{
                border-top: 16px solid transparent;
                border-bottom: 16px solid transparent;
                border-right: 20px solid #8de698;
            }
            &__right{
                border-top: 16px solid transparent;
                border-bottom: 16px solid transparent;
                border-left: 20px solid #e888a3;
            }
        }
    }
}