*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    margin: 10px;
    background-color: #333;
    color: #f1f1f1;
    border: 2px solid #f1f1f1;
    cursor: pointer;
    &:hover{
        background-color: #f1f1f1;
        border-color: #333;
        color: #333;
    }
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    position: sticky;
    top:0;
    background-color: #f1f1f1;
    z-index: 5;
    .main-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;    
        .navbar__title{
            display: flex;
            align-items: center;
            h1{
                display: flex;
                flex-direction: column;
            }
            #toolbox{
                color:#78c091;
            }
            img{
                height: 45px;
                margin: 10px;
                filter: opacity(0.5) drop-shadow(0 0 0 #78c091) saturate(400%);
            }   
        }
        ul{
            li{
                list-style: none;
            }
        }
        .menu{
            display: flex;
            align-items: center;
            text-transform: uppercase;
            a{
                margin: 5px;
                color: #333;
                text-decoration: none;
                font-weight: 600;
            }
            @media (max-width: 700px){
                display: none;            
            }
        }
        .social-media{
            display: flex;
            img{
                width: 50px;
                filter: opacity(0.5) drop-shadow(0 0 0 #78c091) saturate(400%);
            }  
            @media (max-width: 700px){
                display: none;            
            }
        
        }
        .burger-btn{
            height: 25px;
            width: 25px; 
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

            div{
                width: 100%;
                height: 5px;
                background-color: #78c091;
            }
            @media (min-width: 700px){
                display: none;
            }
        }
        .extend-burger{
            flex-direction: row;
            div{
                height: 100%;
                width: 5px;
            }   
            @media (min-width: 700px){
                display: none;
            }
        }
    }
    .extend-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        align-items: flex-start;
        justify-content: space-between;
        height: 0;
        @media (min-width: 700px){
            display: none;
        }
        .min-menu{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            li{
                height: 30px;
                width: 100%;
                padding: 5px;
                &:hover{
                    background-color: #a9dfae;
                }
                a{
                    text-decoration: none;
                    color: #333;
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
        }
        .min-social-media{
            display: flex;
            justify-content: center;
            width: 100%;
            li{
                list-style: none;
                margin: 5px;
                img{
                    height: 30px;
                    filter: opacity(0.5) drop-shadow(0 0 0 #78c091) saturate(400%);
                }
            }
        }
    }
    .show-extend{
        height: auto;
    }
}
section{
    background-color: #fff;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px;
    border: 2px solid #333;
}
.color-flipper{
    div{
        background-color: #333;
        color:#f1f1f1;
        width: 50%;
        padding: 5px;
        border-radius: 5px;
    }
}
.counter{
height: 400px;
    #count{
        font-size: 80px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
        color: black;
    }
    div{
        display: flex;
        flex-direction: row;
    }
}
.review-carousel{
    height: 500px;
    justify-content: space-between;
    padding: 50px;
    h2{
        margin: 20px;
    }
    h3{
        margin: 10px;
        color: #333;
    }
    span{
        color: aqua;
    }
    p{
        margin: 20px;
    }
    .selector{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .arrow{
            height: 0px;
            width: 0px;
            cursor: pointer;
            &__left{
                border-top: 16px solid transparent;
                border-bottom: 16px solid transparent;
                border-right: 20px solid #8de698;
            }
            &__right{
                border-top: 16px solid transparent;
                border-bottom: 16px solid transparent;
                border-left: 20px solid #e888a3;
            }
        }
    }
}
.modal{
    .modal-overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #78c091be;
        z-index: -10;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .modal-window{
            button{
                background-color: rgba(148, 9, 9, 0.699);
            }
        }
    }
    .modal-open{
        visibility: visible;
        z-index: 10;
    }
}
.faq{
    height: auto;
    padding: 30px;
    background-color: #78c091;
    h2{
        margin-bottom: 10px;
    }
    .faq-card{
        width: 100%;
        justify-content: flex-start;
        border: 1px solid goldenrod;
        background-color: #fff;
        border-radius: 10px;
        margin: 2px 0;
        padding: 0 15px;
        height: 44px;
        overflow: hidden;
        .faq-question-card{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 10px 0 ;
        }
        .faq-answer-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            .seperate-line{
                width: 100%;
                height: 1px;
                background-color: goldenrod;
            }
            p{
                text-align: start;
                padding: 10px 0;
            }
        }
    }
    .faq-card-valid{
        height:auto;
    }
}

